.navigation 
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.navigation li 
{
  list-style: none;
}
.navigation li a 
{
  text-decoration: none;
  padding: 6px 15px;
  color: #f97b95;
  border-radius: 20px;
}
.navigation li a:hover ,
.navigation li a.active
{
  background: #f97b95;
  color: #fff;
}